.team-container {
  background-color: #444444;
  margin-top: 20px;
  padding: 5px;
  width: 350px;
}

.team-tile {
  width: 70px;
}

.team-title {
  position: absolute;
  left: 5px;
}

.team-member-icon {
  width: 50px;
  height: 50px;
}

.team-button {
  width: 30px;
  height: 30px;
}

.team-list {
  text-align: center;
}

.team-details {
  margin-top: 5px;
}

.selected {
  background-color: dimgray;
}
