.login-container {
  margin-top: 80px;
  width: 100%;
  text-align: center;
}

.login-form {
  display: inline-block;
  text-align: center;
  margin: 10px;
  border: #C2185B 2px solid;
}

.login-form-element {
  margin: 10px;
  text-align: center;
}
