.list-container {
  height: auto;
  padding-top: 10px;
}

.example-full-width {
  width: 95%;
  padding-left: 5px;
  padding-right: 5px;
}

mat-list {
  width: 250px;
  overflow-y: scroll;
  height: 474px;
}

.selected {
  background-color: dimgray;
  color: #AAAAAA;
}
