<div class="list-container">
  <mat-form-field class="example-full-width">
    <input #searchfield matInput (keyup)="checkListSize()" placeholder="Recherche" [(ngModel)]="searchText">
  </mat-form-field>
  <mat-list infiniteScroll [scrollWindow]="false" (scrolled)="onScroll()">
    <a mat-list-item *ngFor="let pokemon of pkmnList | filter : this.searchText" (click)="selectPokemon(pokemon.id)" [ngClass]="{selected: pokemon.id === selectedPokemonId}"> <!-- routerLink="/detail/{{pokemon.id}}"> -->
      <img matListAvatar [src]="'../assets/img/sprites/' + pokemon.id + '.png'" alt="...">
      <h3 matLine> {{pokemon.id}}. {{pokemon.name}} </h3>
    </a>
  </mat-list>
</div>
