<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<mat-card *ngIf="pokemonInfos" class="details">
  <mat-grid-list cols="2" rowHeight="150px">
    <mat-grid-tile class="test" rowspan="2">
      <mat-card class="detail-card">
        <img mat-card-image class="detail-card-img" [src]="'../assets/img/official-artwork/' + pokemonInfos.id + '.png'" alt="-">
        <mat-card-title class="detail-card-number">No. {{pokemonInfos.id | number:'3.0-0'}}</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
      <mat-list>
        <mat-list-item>
          <p>{{pokemonInfos.name}}</p>
          <audio autoplay id="sound"><source [src]="'../assets/audio/' + pokemonInfos.id + '.mp3'" type="audio/mp3" /></audio>
          <button (click)="playSound();" mat-button><mat-icon>play_circle_outline</mat-icon></button>
        </mat-list-item>
        <mat-list-item>
          <mat-chip-list>
            <mat-chip *ngFor="let type of pokemonInfos.types">{{type}}</mat-chip>
          </mat-chip-list>
        </mat-list-item>
        <mat-list-item>Taille: {{pokemonInfos.height | number:'0.1-1'}} m</mat-list-item>
        <mat-list-item>Poids: {{pokemonInfos.weight | number:'0.1-1'}} kg</mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile colspan=2 rowspan="1">
      <p>{{pokemonInfos.description}}</p>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

<a button mat-raised-button class="detail-button" routerLink="/">< Retour</a>
